n8n-workflows/dental-leads.json
{
  "name": "Lumen - Dental Lead Capture",
  "nodes": [
    {
      "parameters": {
        "path": "dental-lead",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "dental-webhook",
      "name": "Dental Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "dental-lead"
    },
    {
      "parameters": {
        "chatId": "6059709311",
        "text": "=🦷 *New Dental Lead*\n\n*Name:* {{ $json.body.name }}\n*Email:* {{ $json.body.email }}\n*Source:* {{ $json.body.source || 'dental landing page' }}\n*Time:* {{ new Date().toLocaleString('en-AU', {timeZone: 'Australia/Adelaide'}) }}\n\nReply to: {{ $json.body.email }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-dental-lead",
      "name": "Telegram: New Dental Lead",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [500, 300],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({success: true, message: \"Thanks, we'll be in touch soon.\"}) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "dental-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Dental Lead Webhook": {
      "main": [[{ "node": "Telegram: New Dental Lead", "type": "main", "index": 0 }]]
    },
    "Telegram: New Dental Lead": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {}
}
